@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:wght@300;400&display=swap');

* {
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;


}

body {
    font-size: 100%;
    background-image: radial-gradient(circle at top right,
            #FFFBA6,
            #ff8d02 60%);

}


    
