@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:wght@300;400&display=swap');
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-size: 100%;
    background: linear-gradient(89.8deg, #7B2500 7.8%, #FFE100 95.61%);
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.cabecalho-menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.cabecalho-item-menu {
    font-family: 'Roboto', sans-serif;
    color: #471A01;
    font-weight: 300;
    font-size: 24px;
}

.cabecalho-item-menu2 {
    font-family: 'Roboto', sans-serif;
    color: #471A01;
    font-weight: 300;
    font-size: 24px;
}
.cabecalho-item-menu2:hover {
    -webkit-transition: color 1s;
    transition: color 1s;
    color: rgb(255, 226, 188);
}

.conteudo {
    border-top: 0.6px solid #6d3909;
    margin-bottom: 48px;
    
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito {
    gap: 32px;
    display: flex;
    flex-direction: column;
}
.conteudo-principal-escrito-titulo {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #471A01;
}
.conteudo-principal-escrito-subtitulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #471A01;
}
.conteudo-principal-escrito-botao {
    background-color: #D36500;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 0px 9px 8px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #471A01;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.6px solid #6d3909;
    padding-top: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #471A01;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    color: #471A01;
    margin: auto;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.6px solid #6d3909;
    padding-top: 15px;
    
}
.rodape-escrito-titulo {
    padding-top: 15px ;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    font-weight: 400;
    font-size: 26px;
    color: #471A01;
    margin-bottom: 16px;
}

.trello {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-bottom: 16px;
}