@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-size: 100%;
    background: radial-gradient(48.44% 153.09% at 50% 50%, rgba(250, 255, 1, 0.7) 0%, #FF9900 100%);
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-item-menu {
    font-family: 'Roboto', sans-serif;
    color: #471A01;
    font-weight: 300;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: o.6px solid #6d3909;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito {
    gap: 32px;
    display: flex;
    flex-direction: column;
}
.conteudo-principal-escrito-titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #471A01;
}
.conteudo-principal-escrito-subtitulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #471A01;
}
.conteudo-principal-escrito-botao {
    background-color: #D36500;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 8px 9px 8px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #471A01;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.6px solid #6d3909;
    padding-top: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #471A01;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #471A01;
}